@{
    ViewBag.Title = "Home";
}

<div >
    <h1>USMDM Search API</h1>
   
</div>

<div class="row">
    <div class="col-md-4">
        <h2><a href="/api/GetCompanyStatus">API 1: Get Company Collection</a> </h2>
        <p>
            from http://10.22.53.151:9080 by entering Name,State&City. 

        </p>
       
    </div>
    <div class="col-md-4">
        <h2><a href="/api/GetCompanyDetail">API 2:Get one company Detail</a></h2>
        <p>from http://10.22.53.151:9080 by entering SourcePartyID. </p>

     </div>
    <div class="col-md-4">
        <h2><a href="/swagger">Swagger Test Page</a></h2>
        

    </div>
    
</div>

<script type="text/javascript">

</script>