<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="BOSSearchConn" connectionString="Data Source=fz92bq8wno.database.windows.net;Initial Catalog=BOSSearchDB;Integrated Security=False;User ID=bosadmin;Password=Pwcwelcome1!;Connect Timeout=60;Encrypt=False;TrustServerCertificate=False" providerName="System.Data.SqlClient" />
    <add name="BOSSearchContext" connectionString="Data Source=(localdb)\v11.0; Initial Catalog=BOSSearchContext-20151030133914; Integrated Security=True; MultipleActiveResultSets=True; AttachDbFilename=|DataDirectory|BOSSearchContext-20151030133914.mdf" providerName="System.Data.SqlClient" />
    <add name="CompanyStatusHistoryModel" connectionString="data source=fz92bq8wno.database.windows.net;initial catalog=BOSSearchDB;integrated security=False;user id=bosadmin;password=Pwcwelcome1!;connect timeout=60;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  <add name="BOSSearchCompanyContext" connectionString="data source=fz92bq8wno.database.windows.net;initial catalog=BOSSearchDB;integrated security=False;user id=bosadmin;password=Pwcwelcome1!;connect timeout=60;encrypt=False;trustservercertificate=False;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <!--SendGrid URL-->
    <add key="ApiWebSite" value="https://sendgrid.com" />
    <!-- SendGrid API -->
    <add key="ApiUrlAddress" value="api/mail.send.json" />
    <!--SendGrid Credentials name-->
    <add key="SendGridName" value="bosadmin" />
    <!--SendGrid Credentials psw-->
    <add key="SendGridPassword" value="Pwcwelcome1!" />
    <!-- Email From -->
    <add key="EmailFrom" value="Support@businessOS.com" />
    <!-- SendGrid Template Id-->
    <add key="TemplateId" value="bde1fc8a-6c12-4201-a759-77160cdeff8a" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>